<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<div id="app">
    <section style="padding-top: 4rem;">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" class="input" v-model="search">
                        </div>
                        <div class="control">
                            <button class="button is-success" v-on:click="refresh">Search</button>
                        </div>
                    </div>
                </div>
                <div class="level-right"><h1 class="title">WordPress Theme Search</h1></div>
            </div>
            <div class="columns is-multiline">
                <div class="column is-3"  v-for="theme in themes">
                    <div style="padding: 1rem; border: solid 2px #333; border-radius: 1rem">
                        <h3 class="title">{{ theme.name }}</h3>
                        <div><img style="height: 120px; width: auto;" v-bind:src="theme.screenshot_url"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/axios/dist/axios.js"></script>
<script>
    new Vue({
            el: '#app',
            data: {
                themes: [],
                search: ''
            },
            methods: {
                refresh: function() {
                    axios
                        .get(`//api.wordpress.org/themes/info/1.1/?action=query_themes&request[search]=${this.search}`)
                        .then(response => (this.themes = response.data.themes))
                }
            },
            mounted () {
                axios
                    .get('//api.wordpress.org/themes/info/1.1/?action=query_themes')
                    .then(response => (this.themes = response.data.themes))
            }
        });
</script>
</body>
</html>
